@font-face {
    font-family: bau-cur;
    src: url(BauhausStd-Light.woff);
}
:root{
    --small-width:40%;
    --medium-width:42%;
    --large-width:50%;

    --card1-1-small-top:9%;
    --card1-1-small-left:4-%  /* the original is 8% */;
    --card1-2-medium-top:17%;
    --card1-2-medium-right:-3% /* the original is 7% */;


    --why-me-img-right:15%;
    --why-me-img-top:10%;
    --why-me-img-width:30%;
    --why-me-img-height:75%;

    --card2-1-small-top:6%;
    --card2-1-small-right:10% /* the original is 40% */;
    --card2-2-medium-top:60%;
    --card2-2-medium-right:-10% /* the original is 10% */;
    
}
*{
    scroll-behavior:smooth;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: bau-cur ;
    overflow-x: hidden;

}

/* Header Section Start Here */


.nav-bar-item > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-bar-list{
    display: flex;
    font-size: 1.6rem;
    width: 60%;
    justify-content:space-around;
    list-style: none;    
}
.nav-bar{
    width: 90vw;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
}
.nav-bar::after{
    height: 1px;
    width: 97%;
    background-color: rgba(255, 255, 255, 0.247);
    content: " ";
    margin-top: 2rem;
    margin-left: 10rem;
}
header{
    height: 100vh;
    width: 100vw;
    background-color: #001a3f;
    position: relative;
}
.my-name{
    position: absolute;
    color: rgba(255, 255, 255, 0.918);
    font-size: 4.5rem;
    letter-spacing: 18px;
    left: 4.4%;
    opacity: 0;
    top: 12rem;
    z-index: 1;
    text-align: center;
}
header > q{
    color: #4d578c;
    position: absolute;
    font-size: 2.6rem;
    top: 57%;
    left: 12%;
    letter-spacing: 5px;
    opacity: 0;
}
header > q + q{
    top: 67%;
    left: 24%;
}

.header-image1{
    height: 45%;
    width: 25%;
    position: absolute;
    right: 10%;
    top: 22%;
    border-radius: 20px;
    background:url(Images/header-image-1.png) ;
}

.header-image2{
    position: absolute;
    border-radius: 20px;
    background-color: #111;
    top: 35%;
    height: 41%;
    width: 22%;
    right: 20%;
    background:url(Images/header-image-2.png) ;

}

.nav-bar-list{
    opacity: 0;
    margin: 0 0 0 2rem;
}

.nav-bar-item > a::after{

    display: inline-block;
    content: ' ';
    border: none;
    height: 0;
    width: 0;
    transition: .3s ease-in-out;

}

.nav-bar-item > a:hover::after , .nav-bar-item:active::after{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.329);
    width: 100%;
    margin-top: 16px;
}

/* About Me Section Start Here */

.information-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #8596f2;
    height: 100vh;
    overflow: hidden;
}
.section-title{
    color: #fff;
    font-size: 3.6rem;
    letter-spacing: 13px;
    margin-top:3rem ;
    text-align: center;
}


.card-container{
    position: relative;
    width: 100%;
    height: 85%;
}


.card{
    background-color: #8596f2;
    color: #fff;
    position: absolute;
    z-index: 1;
    border: #fff solid 2px;
    border-radius: 20px;
    letter-spacing: 4px;
    padding: 3rem 1rem 1rem 3rem;
}
.card1-1{
    left: var(--card1-1-small-left);
    top: var(--card1-1-small-top);
    opacity: 0;
}
.card1-2{
    top: var(--card1-2-medium-top);
    right:var(--card1-2-medium-right) ;
    opacity: 0;
}
.small{
    width: var(--small-width);
}
.medium{
    width: var(--medium-width);
    font-size: 1.1rem;
}

.large{
    width: var(--large-width);
}

.about-me-img{
    background: url(Images/aboutMe-Image.png);
    width: 37%;
    height: 63%;
    left: 26%;
    top: 24%;
}

.card-image{
    background-size: cover;
    border-radius: 20px;
    position: absolute;
}


/* Why Me Section Start Here */


.why-me-img{
    background: url(Images/whyMe-Image.png);
    width: var(--why-me-img-width);
    height: var(--why-me-img-height);
    top: var(--why-me-img-top);
    right: var(--why-me-img-right);
}

.card2-1{
    top: var(--card2-1-small-top);
    right:var(--card2-1-small-right) ;
    opacity: 0;
}
.card2-2{
    width: 80% !important;
    font-size: 0.9rem;
    top:var(--card2-2-medium-top) ;
    right: var(--card2-2-medium-right);
    opacity: 0;
}


/* My Skills Section Start Here */

.second-background-color{
    background-color:#001a3f !important ;
}

.skill-card{
    height: 40%;
    width: 30%;
    background-color: #001a3f;
    border-radius:20px; 
    position: absolute;
    z-index: 1;
    border: #fff solid 3px;
    text-align: center;
    padding: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}
.skill-title{
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.skill-card > p{
    font-size: 0.9rem;
    letter-spacing: 3px;

}
.sk-card1{
    top:14%;
    right: 30%;
}
.sk-card2{
    top: 50%;
    left:30%;
}
.sk-card3{
    top: 50%;
    right:5% ;
}
.sk-card4{
    top: 50%;
    left: 3%;
    width: 25% !important;
}
.sk-card5{
    top: 12%;
    left: 11%;
    z-index: 0 !important;
    width: 27%;
    font-size: 0.9rem !important;
}
.skills-card-img{
    background: url(Images/skills-Image.png);
    width: 35%;
    height: 80%;
    right: 12%;
    top: 10%;
}

/* Contact section start here*/

.contact-info{
    display: flex;
    font-size: 1.9rem;
    color: #fff;
    margin: bottom 4rem; ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: 900;
}

/*Make the toggle*/
.toggle{
    color: #fff;
    height: 0;
}
.dash{
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 0.8rem;
}
/* Make the page responsive */


@media(max-width : 1150px) {

        header > q{
            font-size: 2.1rem;
            top: 57%;
            left: 30%;
            letter-spacing: 4px;
        }
        header > q + q{
            top: 67%;
            left: 30%;
        }


}

@media(max-width : 948px) {

    .nav-bar-item{
        font-size: 1.2rem;
        font-weight: 400;
    }

    header > q{
        letter-spacing: 3px;
        color: #ffffff;
        font-weight: 600;
        z-index: 1;
    }
    .skill-title{
        font-size: 1.2rem;
    }

    .contact-info{
        font-size:1.6rem;
    }
        
}
@media(max-width : 824px){
    .card{
        font-size: 0.7rem;
    }
    .contact-info{
        font-size:1.45rem;
    }
}

@media(max-width : 756px){
    .nav-bar::after{
        width: 0;
        height: 0;
    }
    .nav-bar-list{
        display: block;
        position: absolute;
        right: 6%;
        height: 0;
        width: 0;
        z-index: 1;
        padding: 0.5rem;
        overflow: hidden;
        font-size: 0.1rem;
        transition: 0.5s ease-in-out;

    }
    .nav-bar{
        position: relative;
        overflow: visible;
    }

    .nav-bar-item{
        display: inline-block;
        margin-top: 0.5rem;
        margin-right: 2rem;
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }
    .toggle{
        height: 100%;
        margin-left: 100%;
    }

    .toggle:hover + .nav-bar-list{
        height: 12rem;
        width: 25%;
        font-size: 1.6rem;
    }


}
@media(max-width : 697px){
    .card2-1{
        top: 2%;   
        font-size: 0.72rem;
        letter-spacing: 3px;
        width: 60% !important;
        left: 6%;
        padding: 2rem;
    }
    .card2-2{
        font-size: 0.72rem;
        letter-spacing: 4px;
        padding: 2rem;
        width: 90% !important;
        left: 5.5%;
    }
    .section-title{
        font-size: 2rem;
    }

    .skill-card{
        height: 25%;
        width: 25%;
        padding: 1.3rem;
    }
    .sk-card1{
        top: 30%;
    }
    .sk-card4{
        top: 43%;
        left: 7%;
    }
    .sk-card5{
        top: 25%;
        left: 23%;
    }
    .skills-card-img{
        background: url(Images/skills-Image.png);
        width: 35%;
        height: 80%;
        right: 12%;
        top: 10%;
    }

    .contact-info{
        flex-direction: column;
        height: 20%;
    }
}
@media(max-width : 580px){
    .card1-2{
        bottom: 1%;
        top: unset;
        width: 96%;
        left: 2%;
        padding: 1.4rem;
        font-size: .6rem;
        letter-spacing: 3px;
    }
    .card1-1{
        letter-spacing: 3px;
        top: 8%;
        width: 66% !important;
        left: 3%;
        font-size: 0.7rem;
        padding: 1.4rem;


    }
    .about-me-img{
        width:64%;
    }

    .card2-1{
        top: 2%;   
        font-size: 0.6rem;
        letter-spacing: 3px;
        width: 60% !important;
        left: 6%;
        padding: 1.4rem;
    }
    .card2-2{
        font-size: 0.6rem;
        letter-spacing: 4px;
        padding: 1.4rem;
        width: 90% !important;
        left: 5.5%;
    }


    .skill-card{
        height: 15%;
        width: 40%;
        padding: 1.3rem;
    }
    .sk-card1{
        left: 5%;
        top:5%;
    }
    .sk-card2{
        left: 5%;
        top:22.5%;
    }
    .sk-card3{
        left: 5%;
        top:40%;
    }
    .sk-card4{
        left: 5%;
        top:60%;
        width: 40% !important;
    }
    .sk-card5{
        left: 5%;
        top:80%;
    }
}   

@media(max-width : 439px){
    .my-name{
        font-size: 3rem;
        letter-spacing: 10px;
    }
    header > q{
        font-size: 1.5rem;
        letter-spacing: 4px;
    }
    .nav-bar-list{
        right: 23%;
    }

    .skill-title{
        font-size: 0.9rem;
    }
    .contact > h1{
        font-size: 1.6rem;
    }

    #contact-form{
        width: 80% !important;
    }
    

    .contact-info{
        font-size:1.1rem;
    }
}

@media(max-width : 346px){
    header > q{
        font-size: 1.3rem;
        letter-spacing: 3px;
    }
    .card1-1{
        letter-spacing: 3px;
        top: 8%;
        width: 80%;
        left: 3%;
    }
    .card2-1{
        width: 70% !important;
    }
}